body{
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    background: url("../assets/img/Circuit Board.svg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    /* transition: 0.5s; */
}

/* NAVBAR */
.myMobileNavbar {
    background-color: rgb(39, 56, 76) !important;
    text-transform: uppercase !important;
    font-weight: 700 !important;
    letter-spacing: 3px;
}

.myMobileNavbar li {
    color: white;
}

.myDesktopNavbar{
    background-color: rgb(39, 56, 76) !important;
    text-transform: uppercase !important;
    font-weight: 700 !important;
    letter-spacing: 3px;
    color: white;
}
.myDesktopNavbar a {
    text-decoration: none;
    color: rgb(158, 165, 174);
}
.myDesktopNavbar a:hover {
    text-decoration: none;
    color: rgb(201, 205, 210);
}
.myDesktopNavbar a.active {
    text-decoration: none;
    color: white;
}

/* PERSONAL INFOS */
.myPersonalInfos{
    text-transform: uppercase !important;
    font-weight: 700 !important;
    letter-spacing: 3px;
    height: 100vh;
    color: rgb(39, 56, 76) !important;
}

.circular--portrait { 
    position: relative; 
    width: 200px; 
    height: 200px; 
    overflow: hidden; 
    border-radius: 50%; 
    margin: auto;
    border: solid;
    border-width: 3px;
    border-color: rgb(39, 56, 76);
} 
.circular--portrait img { 
    width: 100%; 
    height: auto; 
}

.myPersonalInfosDiv{
    background-color: rgba(255, 255, 255, 0.9);
    word-break: normal;
}

/* SKILLS */
.mySkills{
    text-transform: uppercase !important;
    font-weight: 700 !important;
    letter-spacing: 3px;
    min-height: 80vh;
    background: rgb(39, 56, 76) !important;
    color: white;
}

/* DIVIDER */
.divider-custom {
    margin: 1.25rem 0 1.5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .divider-custom .divider-custom-line {
    width: 100%;
    max-width: 7rem;
    height: 0.25rem;
    background-color: #2c3e50;
    border-radius: 1rem;
    border-color: #2c3e50;
  }
  .divider-custom .divider-custom-line:first-child {
    margin-right: 1rem;
  }
  .divider-custom .divider-custom-line:last-child {
    margin-left: 1rem;
  }
  .divider-custom .divider-custom-icon {
    color: #2c3e50;
    font-size: 2rem;
  }
  .divider-custom.divider-light .divider-custom-line {
    background-color: #fff;
  }
  .divider-custom.divider-light .divider-custom-icon {
    color: #fff;
  }

#frontEnd,
#backEnd,
#database,
#framework, 
#autres{
    transition: 0.7s; max-height: 0px; overflow: auto;
}

/* PROJETS */
.myProjects{
    text-transform: uppercase !important;
    font-weight: 700 !important;
    letter-spacing: 3px;
    min-height: 100vh;
    color: rgb(39, 56, 76);
    
    .container{
        background: rgba(255, 255, 255, 0.9) !important;
    }
}

.description {
    text-transform: none;
    font-size: 1.25rem;
    font-weight: 300;
}

/* CONTACTS */
.myContacts{
    text-transform: uppercase !important;
    font-weight: 700 !important;
    letter-spacing: 3px;
    min-height: 60vh;
    background: rgb(39, 56, 76) !important;
    color: white;
}

#bouttonLinkedIn{
    padding: 15px;
    height: 50px;
    width: 50px;
    border-radius: 50px;
    transition: 0.5s;
    color: white;
    background: rgb(39, 56, 76);
    border-color: white;
    border: solid;
    border-width: 2px;
}

#bouttonLinkedIn:hover{
    color: rgb(39, 56, 76);
    background: white;
    border-color: rgb(39, 56, 76);
}

.copyright{
    background: rgb(26, 38, 51);
    color: white;
    font-weight: 700;
}

#CVButtonDiv{
}

#CVButton{
    background: rgb(26, 38, 51);
    padding: 15px;
    height: 50px;
    border-radius: 20px;
    transition: 0.5s;
    color: white;
}
#CVButton:hover{
    color: rgb(26, 38, 51);
    background: white;
    border: solid;
    border-width: 1px;
    border-style: rgb(26, 38, 51);
    padding: 15px;
    height: 50px;
    border-radius: 20px;
}

#backToTop {
    position: fixed;
    bottom: 5vh;
    right: 5vw;
    display: none;
    color: rgb(26, 38, 51);
    background-color: white;
    border-color: rgb(26, 38, 51);
    border-radius: 50px;
    width: 4rem;
    height: 4rem;
    z-index: 1000;
  }

  #backToTop:hover{
    color: white;
    background: rgb(26, 38, 51);
}

@media (min-width: 768px) {
    .myPersonalInfosDiv{
      max-width: 50%;
    }
}

@media (max-width: 576px) {
    body{
        background: url("../assets/img/Circuit Board Mobile.svg");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
    #backToTop {
        right: 10vw;
    }
}

#frontEndButton:hover,
#backEndButton:hover,
#databaseButton:hover,
#frameworkButton:hover, 
#autresButton:hover{
    color: rgb(201, 205, 210);
}